.find-stays_wrapper .header-2 {
  padding: 22px 20px;
  display: flex;
  align-items: center;
  position: relative;
}

.find-stays_wrapper .hero-info-col {
  margin-top: 0;
}
.find-stays_main_img img {
  width: 100%;
  height: auto;
}
/* --------------------------- */
.profile-info_modal {
  display: none;
  padding: 32px;
}

.profile-info_modal.show-modal {
  width: 329px;
  display: flex; /* Add display flex when the class 'show-modal' is added */
  flex-direction: column;
  position: absolute;
  top: 80px;
  right: 100px;
  background-color: #fff;
  border-radius: 12px;
}
.user {
  gap: 16px;
  padding-bottom: 24px;
}
.user-prof {
  gap: 20px;
}
.first-input {
  padding-left: 10px;
  padding-right: 10px;
}

.account-settings {
  padding-top: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.account-item {
  cursor: pointer;
}

.account-item_title {
  margin: 0 24px 0 8px;
  cursor: pointer;
}
.account-item_arrow_icon {
  text-align: right;
}

.find-stays-cards .countries-cards_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(247px, 1fr));
  grid-gap: 20px;
  margin-top: 40px;
}
.favourite-link {
  display: flex;
  color: #000;
  gap: 10px;
}
